flask
flask-cors
pylint
black
pre-commit
aws-xray-sdk
opentelemetry-api 
opentelemetry-sdk 
opentelemetry-exporter-otlp-proto-http 
opentelemetry-instrumentation-flask 
opentelemetry-instrumentation-requests
watchtower
rollbar
blinker
Flask-AWSCognito